.p-form {
  width: 100%;
  margin: 20px auto;

  padding: 16px 0;
  &__group {
    width: 340px;
    margin: 20px auto;
    padding: 20px 0;
  }
  
  &__input{
    display: block;
    margin: 8px auto;
    width: 100%;
    border: 1px solid #eee;
    outline: none;
    padding: 12px 8px;
    box-sizing: border-box;
  }
  &__swicth{
    cursor: pointer;
    font-weight: bold;
    color: rgb(28, 157, 207);
  }
}
